.mt-5 {
    text-align: center;
}
.card {
    border: none;
}
.senza-bordi {
    border: none;
}
#prezzi {
    padding: 2em 5em 2em;
    text-align: center;
}
.parallelogramma {
        width:200px;
        height:150px;
        transform:skew(-30deg);
}
.rettangolo-allungato {
    width: 200px;
    height: 400px;
    background-color: rgb(182, 182, 182);
}

@media screen and (min-width: 1024px) {
    
    #prezzi {
        flex-direction: row;
        display: flex;
        text-align: center;
        justify-content:space-between;
        flex-wrap: nowrap;
    }
}